// bower:scss
// endbower

//colors
$red : #e14d43;
$blue : #0074a2;
$gray : #363b3f;
$grey : #25282b;
$yellow: #FFF015;
//$yellow: #FFF515;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */

html {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    color: #888;
    height: 100%;
}

body {
    padding-bottom: 20px;
}

img{
    max-width: 100%;
}

header{    
    h1{
        margin: 0;
        padding: 0.5em;
        font-weight: 400;
        font-size: 20px;
        img{
            width: 32px;
            margin-bottom: -3px;
        }
    }
    &.search{
        margin-top: 6px
    }
}
//price slider label 

.price-range{
  color: rgba(0, 0, 0, 0.26);
}

//material elements
md-toolbar.md-default-theme{
    background-color: $gray;
}

date-picker{
    margin-top: 0;
}

.airline label{
    margin-top: 60px;
}

.wrapper{
    padding: 0 0px;
    min-height: 48px;
    md-content{
        padding: 8px;
        md-item{
            display: block;
            margin: 10px 0;
            .md-tile-content{
                padding: 0;
                h2{
                    border-bottom: 1px dashed #ddd;
                    padding-bottom: 14px;
                    &.airline-title{
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .flight-info{
        background: #fbfbfb;
        padding: 15px 20px;

        h4{
            font-size: 80%;
        }
    }
}

.container{
    width: 960px;
    margin: 0 auto;
}

/* HomePage Styles*/

.md-primary{
    padding: 4% 8%;
    font-size: 14px;
    max-width: 90%;
}

.flight-form{
    margin-left: 1em;
    input{
        max-width: 100%;
    }
    md-radio-group{
        border: none;
        md-radio-button{
            margin-bottom: 0;
            margin-left: 0;
            font-size: 14px;
            color:rgba(0,0,0,0.4)
            &.md-checked{
                background-color:rgba(0,0,0,0.8);
                .md-on{
                    background-color: rgba(0, 0, 0, 0.4);
                    border-color: rgba(0, 0, 0, 0.4);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
                .md-off{
                    border-color: $grey;
                }                
                .md-ink-ripple {
                    color: rgba(0, 0, 0, 0.4);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

        }        
    }

    .passengers, .date-wrapper{
        margin-top: -10px;
    }
    
    datepicker md-input-group{
        margin-top: 0;
    }

    md-checkbox{
        margin-left: 0;
        .md-icon{
            border-color: rgba(0, 0, 0, 0.4);
        }
        .md-label{
            border: none;
            &:focus, &:active{
                border: none;
            }
            span{
                color: rgba(0, 0, 0, 0.26);
            }
        }
        &.md-checked{
            .md-label{
                span{
                    color: rgba(0, 0, 0, 0.73);
                }
                &:focus{
                    outline: none;  
                }
            }
        }
    }
}
.results {
    margin-left: 2.5%;
    h2{
        font-size: 1em;
        margin: 0.53em 0 0.75em;
    }
    .details{
        h2{
            margin-bottom: 15px;
            margin-top: 4px;
            padding-bottom: 10px;
        }
    }    
}

.filter-wrap{
    background-color: #f2f2f2;
    min-height: 660px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* date picker styles */
._720kb-datepicker-calendar{
    ._720kb-datepicker-calendar-header{
        background-color:$gray;
    }
    ._720kb-datepicker-calendar-month span{
        color: rgba(255,255,255,0.5);
    }
}
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

//Transition

.ng-hide-add-active {
  display: block!important;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.ng-hide-remove-active {
  display: block!important;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.ng-hide {
  opacity: 0;
}