<md-toolbar class="wrapper section-material-design md-accent">
    <header>
      <h1>
        <img src="../images/logo.png" alt="Flight Logo">
        <small>Airborne</small>
      </h1>
    </header>
    <!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear>   -->  
</md-toolbar>
<div class="wrapper" layout-fill>  
  <div layout="row">
    <div class="filter-wrap" flex="20" flex-sm="30" flex-md="25">         
        <form class="flight-form">
          <div class="row" md-theme="blue-grey">
          <md-radio-group ng-model="journey">
            <div layout="row" layout-align="start center">
              <md-radio-button value="false" aria-label="Label 1" class="one-way">One Way</md-radio-button>
              <md-radio-button value="return"> Return </md-radio-button>
            </div>  
          </md-radio-group>
          <md-input-group>
              <md-text-float label="Leaving From" ng-model="departsFrom"></md-text-float>
              <md-text-float label="Going To" ng-model="arrivesAt"></md-text-float>
          </md-input-group>
          <md-input-group class="date-wrapper">
            <datepicker 
                date-min-limit="1/21/2015" 
                date-max-limit="1/1/2018"
                date-format="dd/MM/yyyy">
              <md-text-float 
                label="Depart On" 
                ng-model="departureDate">
              </md-text-float>
            </datepicker>
            <datepicker 
                  date-min-limit="1/21/2015" 
                  date-max-limit="1/1/2018"
                  date-format="dd/MM/yyyy"
                  ng-show="(journey === 'return')">
                <md-text-float 
                  label="Return On" 
                  ng-model="arrivalDate">
                </md-text-float>
              </datepicker>
          </md-input-group>
            <md-text-float class="airline" label="Airline" ng-model="airline"></md-text-float>
            <md-input-group>
              <md-checkbox ng-model="airline" aria-label="Delta" ng-true-value="'Delta'" ng-false-value="''" class="md-warn">Delta
              </md-checkbox>
              <md-checkbox ng-model="airline" aria-label="Sri" ng-true-value="'Sri'" ng-false-value="''" class="md-warn">Srilankan Airlines
              </md-checkbox>
              <md-checkbox ng-model="airline" aria-label="Etihad" ng-true-value="'Etihad'" ng-false-value="''" class="md-warn">Etihad Airways
              </md-checkbox>
              <md-checkbox ng-model="airline" aria-label="South African" ng-true-value="'South African'" ng-false-value="''" class="md-warn">South African Airways
              </md-checkbox>
              <md-checkbox ng-model="airline" aria-label="Swiss" ng-true-value="'Swiss'" ng-false-value="''" class="md-warn">Swiss
              </md-checkbox>
              <md-text-float class="passengers" label="Passengers" ng-model="passengers" type="number"></md-text-float>
              <label for="" class="price-range">
                Price Range
              </label>
              <!-- @Todo Replace with angularjsslider -->
              <slider floor="1000" ceiling="10000" ng-model-low="price.min" ng-model-high="price.max" ng-show="showSlider"></slider>
              <label for="">
                 &#8377;{{price.min}} -  &#8377;{{price.max}}
              </label>
              </md-input-group>
          </div>
        </form>        
    </div>
    
    <div flex="75" class="results" flex-md="70">
      <header class="search" ng-hide="true">
          Showing {{filterFlights}} flights for your search.
      </header>
      <md-content>
        <md-list>
          <md-item ng-repeat="flight in flights | filterFlights:{'Departure.From':departsFrom, 'Arrival.At':arrivesAt, Airline:airline, 'Departure.Date':departureDate} | filter:priceRange">
              <md-item-content class="md-whiteframe-z1" md-theme="blue-grey">
              <div class="md-tile-content">
                <div layout="row">
                  <div class="flight-info" flex>
                  <h2 class="airline-title">{{ flight.Airline }} - &#8377;{{ flight.Price }}</h2>
                    <div class="details" layout="row">
                    <div flex>
                      <small>{{ flight.ID }}</small> - 
                      <small>{{flight.Departure.Date}}</small>
                      <h2>{{ flight.Departure.From }} > {{ flight.Arrival.At }}</h2>
                      <h4>{{ flight.Departure.Code }} > {{ flight.Arrival.Code }}</h4>
                      <h4>Departs: {{ flight.Departure.Time}}</h4>
                      <h4>Arrives: {{ flight.Arrival.Time}}</h4>
                    </div>
                    <div flex>
                      <small>{{ flight.Return_ID }}</small> - <small>{{flight.Arrival.Date}}</small>
                      <h2>{{ flight.Arrival.At }} < {{ flight.Departure.From }}</h2>
                      <h4>{{ flight.Arrival.Code }} < {{ flight.Departure.Code }}</h4>
                      <h4>Departs: {{ flight.Departure.Time}}</h4>
                      <h4>Arrives: {{ flight.Arrival.Time}}</h4>
                    </div>
                    </div>
                  </div>
                  <div flex="25" class="md-tile-right" layout="column" layout-align="center center">
                    <div class="frame" layout="column" layout-align="center center" style="min-height:90px">
                      <img ng-src="{{flight.Logo}}" class="face" alt="{{flight.Airline}}" />
                    </div> 
                    <md-button class="md-raised md-primary md-hue-2" layout-align="center end">Book Now!</md-button>
                  </div>
                </div>
              </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
          </md-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>